
<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Event<br>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% events.forEach(function(e) { %>
      <tr>
        <td><%= e.title %></td>
        <td><%= e.eventDate %></td>
        <td><a href="/events/<%= e._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>