<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= event.title %></div>
  <div>Event Date:</div>
  <div><%= event.eventDate %></div>
  <div>Participation Rate:</div>
  <div><%= event.participationRate %></div>
</section>

<%- include('../partials/footer') %>
